{% load leaflet_tags %} 
    {% leaflet_css %}
    {% leaflet_js %}		

    <style>

        .leaflet-container {  /* all maps */
            /* width:  1300px; */
            height: 100%;
        }
      
        #specialbigmap {
            height: 800px;
        }
      
        /* Resize the "display_raw" textbox */
        .django-leaflet-raw-textarea {
            width: 100%;
        }
      
      </style>
        <div class="col-sm-12">
          {% leaflet_map "main" %}
        </div>

 <script type="text/javascript">
    var map = L.map('main').setView([49.449, 32.048], 12);

       {% for object in object_list %}
       L.marker({{object.lat_lng}}).addTo(map)
         .bindPopup('{{object.popupContent}}')
         .openPopup();
       {% endfor %}
 </script>
