{% load leaflet_tags %} 
    {% leaflet_css %}
    {% leaflet_js %}	


    <style>

        .leaflet-container {  /* all maps */
            /* width:  1300px; */
            height: 100%;
        }
      
        #specialbigmap {
            height: 800px;
        }
      
        /* Resize the "display_raw" textbox */
        .django-leaflet-raw-textarea {
            width: 100%;
        }
      
      </style>
        <div class="col-sm-12">
          {% leaflet_map "main" callback='window.map_init' %}
        </div>

 <script type="text/javascript">

  function onEachFeature(feature, layer) {
		var popupContent = "<h3> " +
				feature.properties.price + " " + feature.properties.currency + "</h3>";

		if (feature.properties && feature.properties.title) {
			popupContent += feature.properties.title;
		}

		layer.bindPopup(popupContent);
  }
  
  var geojsonFeatures = {{ data | safe }};

  function map_init(map, options) {
    L.geoJSON(geojsonFeatures, {

      style: function (feature) {
        return feature.properties && feature.properties.style;
      },

      onEachFeature: onEachFeature,

      pointToLayer: function (feature, latlng) {
        return L.circleMarker(latlng, {
          radius: 8,
          fillColor: "#ff7800",
          color: "#000",
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8
        });
      }
    }).addTo(map);
  } 
 </script>
