<!DOCTYPE html>
<html lang="ua">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>CherkasyRealEstate.Org.ua | Мапа квартир - продаж довгострокова оренда в Черкасах</title>
<link rel="stylesheet" href="//unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="//unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
</head>
<body>
<h2>Квартири в Черкассах і Черкаському районі: продаж, оренда</h2>
<div id="m" style="width:1920px; height:1080px;"></div>
<script type="text/javascript">
var map = L.map('m').setView([49.45, 32.05], 14); 
L.tileLayer('//{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
{% for e in object_list %}
L.marker({{e.lat_lng}})
    .bindPopup('<h3><a href="{%url "offer-detail" e.pk e.slug %}">{{e.title}}</a></h3> <h3>{{e.price}} {{e.get_currency_display}}</h3>')
    .addTo(map);
{%endfor%}
</script>
</body>
</html>