{% extends "base.html" %}
{% block title %}Список оголошень Квартири та кімнати в Черкасах.
продаж і довгострокова оренда{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home'%}">Головна</a></li>
  <li class="breadcrumb-item active">Квартири, кімнати</li>
{% endblock %}

{% block content %}
<h2>Квартири та кімнати на продажу в Черкасах</h2>
{% if user.is_authenticated%}
{% if object_list %}
    {% for object in object_list %}
    <div class="container">
      <div class="row">
        <div class="col-sm">
          {% include 'include/card.html' %}
        </div>
      </div>
    </div>
     {% endfor %}
{% else %}
    <p>Тут поки немає оголошень. Ваше може бути першим.</p>
{% endif %}
  </tbody>
</table>
{% else %}
<form>
  <div class="row">
    <div class="col-md-6"
    <label for="formGroupExampleInput">
Пошук об'єкта нерухомості або ріелтора</label>
    <input type="text" class="form-control" id="formGroupExampleInput"
placeholder="Введіть район, вулицю, назву агенства, ім'я ріелтора тощо...">
  </div>
  </div>
</form>
{% endif %}

{% endblock content %}
