{% extends 'base.html'%}
{% load leaflet_tags %}
{% block title %}{{ object.title }}{% endblock title %}

{% block leaflet %}
{% leaflet_js %}
{% leaflet_css %}
<style>
  .leaflet-container { height: 100%; }
</style>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Головна</a>
<li class="breadcrumb-item active"><a href="{% url 'flats' %}">
  Квартири, кімнати</a>
<li class="breadcrumb-item active">
  <a href="{% url 'type_offer_flat' object.type_offer%}">
  {{ object.get_type_offer_display}}</a>
<li class="breadcrumb-item">{{ object.title }}</a>
{% endblock %}

{% block content %}

<h3>{{ object.title }}</h3>
<div class="row style="margin-left: 20px;"">
  <!-- about saler -->
  <div class="col-md-4" style="background-color:lavender;">
    <br>
    <dl class="row">
      <dt>Тип</dt>
      <dd>
      <h4>
        <span class="badge badge-info">
          {{object.get_type_offer_display}}</span></h4>
      </dd>
      <dt>Адреса</dt>
      <dd>
      <h4>{{object.address}}</h4>
      </dd>
      <dt>Ціна </dt>
      <dd><h4>
      <span class="badge badge-warning">{{ object.price}}
      {{object.get_currency_display}}</span></h4>
      </dd>
      <dt>
        {%if object.created_by.realtor%}Ріелтор {%else%}Продавець{%endif%}</dt>
      <dd>
        {%if object.created_by.realtor%}
      <a href="{% url 'realtor' object.created_by.realtor.id %}"
      style="font-family: 'Lobster', cursive; font-size: 20px;">
      {{ object.created_by.first_name }} {{object.created_by.last_name}}</a>
      {%else%}
      <p style="font-family: 'Lobster', cursive; font-size: 20px;">
      {{ object.created_by.first_name }} {{object.created_by.last_name}} </p>
      {%endif%}
      </dd>
      <dt>Телефон: </dt>
      <dd>
        {%if object.created_by.realtor%}
      <a href="tel:{{object.created_by.realtor.phone}}">
      {{object.created_by.realtor.phone}}</a>
        {% else %}
        користувач немає профілю "Ріелтор"
        {%endif%}
      </dd>
      <dt>Агенство: </dt>
      <dd>
      <a href="{%url 'agency' object.created_by.realtor.agency.pk object.created_by.realtor.agency.slug%}">{{object.created_by.realtor.agency}}</a>
      </dd>
      <dt>Додаткові умови: </dt>
      <dd>
      <ul>
      {% if object.agree_price is True%}
      <li>Ціна договірна</li>
      {% else %}
      <li>Без торгу</li>
      {% endif %}

      {% if object.without_commission is True%}
      <li>Без комісійних</li>
      {% else %}
      <li>Додатково є коміссійні</li>
      {% endif%}

      {% if object.exchange is True%}
      <li>Можливість обміну</li>
      {% else %}
      <li>Немає можливості обміну</li>
      {% endif %}

      {% if object.collaboration is True%}
      <li>Можу співпрацювати з ріелторами</li>
      {% else %}
      <li>Продаємо самостійно</li>
      {% endif%}
      </ul>
      </dd>
    </dl>
    {%if form %}
    <h4>Мене зацікавив цей об'єкт</h4>
    <form method="POST">{% csrf_token %}<p>{{form.as_p}}</p>
      <input type="submit" class="btn btn-warning" value="Зателефонуйте мені!">
    </form>
    {%endif%}
    <br />
  </div>
  <div class="col-md-8" style="background-color:lavenderblush;">
  <!-- here a map -->
  <div class="row">
  {% include 'include/flat_map.html' %}
  </div>
  </div>
</div>
<div class="row style="margin-left: 20px;"">
  <div class="col-md-4" style="background-color:lavender;">
    <h3>Основні характеристики об'єкта</h3>
    <table class="table table-striped">
    <thead>
    <tr>
    <th scope="col">Характеристика</th>
    <th scope="col">Значення</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">Тип будинку</th>
    <td>{{object.get_building_display}}</td>
    </tr>
    <tr>
    <th scope="row">Поверх / Поверхів</th>
    <td>{{object.floor}} / {{object.total_floor}}</td>
    </tr>
    <tr>
    <th scope="row">Загальна площа / Кухня</th>
    <td>{{object.area}} / {{object.kitchen}}</td>
    </tr>
    <tr>
    <th scope="row">Матеріал стін</th>
    <td>{{object.get_walls_display}}</td>
    </tr>
    <tr>
    <th scope="row">Кількість кімнат</th>
    <td>{{object.rooms}}</td>
    </tr>
    <tr>
    <th scope="row">Планування квартири</th>
    <td>{{object.get_planning_display}}</td>
    </tr>
    <tr>
    <th scope="row">Санвузол</th>
    <td>{{object.get_bathroom_display}}</td>
    </tr>
    <tr>
    <th scope="row">Опалення</th>
    <td>{{object.get_heating_display}}</td>
    </tr>
    <tr>
    <th scope="row">Ремонт</th>
    <td>{{object.get_repair_display}}</td>
    </tr>
    <tr>
    <th scope="row"></th>
    <td></td>
    </tr>
    </tbody>
    </table>
    <br>
    <h3>Побутова техніка</h3>
    <table class="table table-striped">
    <thead>
    <tr>
    <th scope="col">Прилад</th>
    <th scope="col">Наявність</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">Плита</th>
    <td>{% if object.plate is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Варочна поверхня</th>
    <td>{%if object.cooking_plate is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Духова шафа</th>
    <td>{%if object.oven is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Мікрохвильова піч</th>
    <td>{%if object.microwave is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Холодильник</th>
    <td>{%if object.refrigerator is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Посудомийна машина</th>
    <td>{%if object.dishwashers is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Пральна машина</th>
    <td>{%if object.washing_machine is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Сушильна машина</th>
    <td>{%if object.dryer is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Без побутової техніки</th>
    <td>{%if object.without_appliances is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row"></th>
    <td></td>
    </tr>
    </tbody>
    </table>
    <br />
    <h3>Мультимедіа</h3>
    <table class="table table-striped">
    <thead>
    <tr>
    <th scope="col">Опція</th>
    <th scope="col">Наявність</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">WI-FI</th>
    <td>{% if object.wi_fi is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Швидкісний інтернет</th>
    <td>{%if object.high_speed_internet is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Телевізор</th>
    <td>{%if object.tv is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Кабельнеб цифрове ТБ</th>
    <td>{%if object.cable_digital_tv is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Супутникове ТБ</th>
    <td>{%if object.satellite_tv is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Без мультимедіа</th>
    <td>{%if object.without_multimedia is True%}Так{%else%}-{%endif%}</td>
    </tr>
    </tbody>
    </table>
    <br />
    <h3>Комфорт</h3>
    <table class="table table-striped">
    <thead>
    <tr>
    <th scope="col">Опція</th>
    <th scope="col">Наявність</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">Кондиціонер</th>
    <td>{% if object.air_conditioning is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Підігрів підлоги</th>
    <td>{%if object.floor_heating is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Ванна</th>
    <td>{%if object.bath is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Душ</th>
    <td>{%if object.shower is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Меблі на кухні</th>
    <td>{%if object.kitchen_furniture is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Гардероб</th>
    <td>{%if object.wardrobe is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Балкон, лоджія</th>
    <td>{%if object.balcony is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Тераса</th>
    <td>{%if object.terrace is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Панорамні вікна</th>
    <td>{%if object.panoramic_windows is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Грати на вікнах</th>
    <td>{%if object.grid_on_the_windows is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Сигналізація</th>
    <td>{%if object.alarms is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Пожежна сигналізація</th>
    <td>{%if object.fire_alarm is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Відеоспостереження</th>
    <td>{%if object.video_surveillance is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Конс'ерж</th>
    <td>{%if object.concierge is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Охорона території</th>
    <td>{%if object.protection_of_the_territory is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Паркувальне місце</th>
    <td>{%if object.parking_space is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Гостьовий паркінг</th>
    <td>{%if object.guest_parking is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Підземний паркінг</th>
    <td>{%if object.underground_parking is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Гараж</th>
    <td>{%if object.garage is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Ліфт</th>
    <td>{%if object.elevator is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Грузовий ліфт</th>
    <td>{%if object.freight_elevator is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Госп. приміщення, комора</th>
    <td>{%if object.pantry is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Технологія "розумний будинок"</th>
    <td>{%if object.smart_home_technology is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Автономний електрогенератор</th>
    <td>{%if object.autonomous_generator is True%}Так{%else%}-{%endif%}</td>
    </tr>
    </tbody>
    </table>
    <br />
    <h3>Комунікації</h3>
    <table class="table table-striped">
    <thead>
    <tr>
    <th scope="col">Опція</th>
    <th scope="col">Наявність</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">Газ</th>
    <td>{% if object.gas is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Центральний водопровід</th>
    <td>{%if object.central_water_supply is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Каналізація септик</th>
    <td>{%if object.septic_tank is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Вивіз відходів</th>
    <td>{%if object.removal_of_waste is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Асфальтована дорога</th>
    <td>{%if object.asphalt_road is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Без комунікацій</th>
    <td>{%if object.no_communication is True%}Так{%else%}-{%endif%}</td>
    </tr>
    </tbody>
    </table>
    <br>
    <h3>Інфраструктура (в радіусі 500 метрів)</h3>
    <table class="table table-striped">
    <thead>
    <tr>
    <th scope="col">Опція</th>
    <th scope="col">Наявність</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">Дитячий садок</th>
    <td>{% if object.kindergarten is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Школа</th>
    <td>{%if object.school is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Бювет</th>
    <td>{%if object.the_pump_room is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Зупинка транспорту</th>
    <td>{%if object.transportation_stop is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Ринок</th>
    <td>{%if object.market is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Магазин, кіоск</th>
    <td>{%if object.shop_kiosk is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Супермаркет, ТРЦ</th>
    <td>{%if object.supermarket_mall is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Парк, зелена зона</th>
    <td>{%if object.park_green_area is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Дитячий майданчик</th>
    <td>{%if object.playground is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Аптека</th>
    <td>{%if object.pharmacy is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Лікарня, поліклініка</th>
    <td>{%if object.hospital_clinic is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Центр міста</th>
    <td>{%if object.city_center is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Ресторан, кафе</th>
    <td>{%if object.restaurant_cafe is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Кінотеатр, театр</th>
    <td>{%if object.cinema_theater is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Відділення пошти</th>
    <td>{%if object.post_office is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Відділення банку, банкомат</th>
    <td>{%if object.bank_branch_ATM is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Автовокзал</th>
    <td>{%if object.bus_station is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Залізнична станція</th>
    <td>{%if object.railway_station is True%}Так{%else%}-{%endif%}</td>
    </tr>
    </tbody>
    </table>
    <br />
    <h3>Ландшафт (в радіусі 1 км)</h3>
    <table class="table table-striped">
    <thead>
    <tr>
    <th scope="col">Опція</th>
    <th scope="col">Наявність</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">Річка</th>
    <td>{% if object.river is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Водосховище</th>
    <td>{% if object.reservoir is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Озеро</th>
    <td>{% if object.lake is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Пагорби</th>
    <td>{% if object.hills is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Гори</th>
    <td>{% if object.mountains is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Парк</th>
    <td>{% if object.park is True%}Так{%else%}-{%endif%}</td>
    </tr>
    <tr>
    <th scope="row">Ліс</th>
    <td>{% if object.forest is True%}Так{%else%}-{%endif%}</td>
    </tr>
    </tbody>
    </table>
    <br />
    {% if user.is_authenticated %}
    <p><em>Дата публікації оголошення: {{ object.pub_date|date}}</em></p>
    <p><em>Кількість переглядів оголошення: {{ object.num_visits }} </em></p>
    {% endif %}
  </div>

  <div class="col-md-8" style="background-color:lavenderblush;">

    <h2>Опис об'єкту</h2>
    <div class="col">
      {{ object.body |linebreaks }}

    <br />

      {% if object.image1%}
      <img src="{{object.image1.url}}" alt="{{object.title}} - фото 1" class="img-thumbnail">
      {%endif%}
      {% if object.image2 %}
      <img src="{{object.image2.url}}" alt="{{object.title}} - фото 1" class="img-thumbnail">
      {%endif%}

      {% if object.image3 %}
      <img src="{{object.image3.url}}" alt="{{object.title}} - фото 1" class="img-thumbnail">
      {%endif%}

      {% if object.image4 %}
      <img src="{{object.image4.url}}" alt="{{object.title}} - фото 1" class="img-thumbnail">
      {%endif%}

      {% if object.image5 %}
      <img src="{{object.image5.url}}" alt="{{object.title}} - фото 1" class="img-thumbnail">
      {%endif%}

      {% if object.image6 %}
      <img src="{{object.image6.url}}" alt="{{object.title}} - фото 1" class="img-thumbnail">
      {%endif%}

      {% if object.image7 %}
      <img src="{{object.image7.url}}" alt="{{object.title}} - фото 1" class="img-thumbnail">
      {%endif%}

      {% if object.image8 %}
      <img src="{{object.image8.url}}" alt="{{object.title}} - фото 1" class="img-thumbnail">
      {%endif%}

      {% if object.image9 %}
      <img src="{{object.image9.url}}" alt="{{object.title}} - фото 1" class="img-thumbnail">
      {%endif%}
    </div>
  </div>
</div>

{% endblock content %}
