{% extends "base.html" %}
{% block title %}Список оголошень Квартири та кімнати на продажу в Черкасах{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home'%}">Головна</a></li>
  <li class="breadcrumb-item active">Квартири, кімнати</li>
{% endblock %}

{% block content %}
<div class="container">
<h2>Квартири та кімнати на продажу в Черкасах</h2>
  <div class="row">
    <div class="col-7">
      <p>Введіть що-небудь в поле нижче для пошуку по таблиці:</p>
      <input id="myInput" type="text" placeholder="Пошук..">
    </div>
    <div class="col">
      <a href="{% url 'create_flat'%}" type="button"
      class="btn btn-outline-primary">Додати квартиру</a>
    </div>
  </div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Заголовок</th>
    <th scope="col">Райони</th>
    <th scope="col">Ціна</th>
    <th scope="col">Поверх/ Поверхів</th>
    <th scope="col">Площа/ Кухня</th>
    <th scope="col">Ремонт</th>
    <th scope="col">Дата</th>
  </tr>
  </thead>
  <tbody id="myTable">
{% if object_list %}
    {% for object in object_list %}
  <tr>
    <td scope="row"> <a href="{% url 'offer-detail' object.pk object.slug%}">{{ object.title }}</a></td>
    <td><a href="#">{{ object.get_district_display }}</a></td>
    <td>{{ object.price }} {{ object.get_currency_display }}</td>
    <td> {{ object.floor}} / {{ object.total_floor}}</td>
    <td>{{ object.area }} / {{object.kitchen}}</td>
    <td>{{ object.get_repair_display}}</td>
    <td><em>{{ object.pub_date|date }}</em></td>
  </tr>
     {% endfor %}
{% else %}
    <p>Тут поки немає оголошень. Ваше може бути першим.</p>
{% endif %}
  </tbody>
</table>


{% endblock content %}
