{% extends "base.html" %}
{% block title %}
Квартири та кімнати - {{type|lower}} в Черкасах район {{district}}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Головна</a>
<li class="breadcrumb-item active"><a href="{% url 'flats' %}">
  Квартири, кімнати</a>
<li class="breadcrumb-item-active">
  <a href="{%url 'type_offer' type_slug %}">
  {{ type}}</a></li>
<li class="breadcrumb-item">{{district}}</li>
{% endblock %}

{% block content %}
<h2>Квартири та кімнати {{type}} в Черкасах в районі {{district}}</h2>
{% if user.is_authenticated%}
  <div class="row">
    <div class="col-8">
      <p>Введіть що-небудь в поле нижче для пошуку по таблиці:</p>
      <input id="myInput" type="text" placeholder="Пошук.."
      class="form-control mb-4 mr-sm-4">
    </div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Ріелтор</th>
    <th scope="col">Заголовок</th>
    <th scope="col">Вулиця</th>
    <th scope="col">Ціна</th>
    <th scope="col">Тип будинку</th>
    <th scope="col">Поверх/ Поверхів</th>
    <th scope="col">Площа/ Кухня</th>
    <th scope="col">Ремонт</th>
    <th scope="col">Співпраця</th>
  </tr>
  </thead>
  <tbody id="myTable">
{% if object_list %}
    {% for object in object_list %}
  <tr>
    <td scope="row"><a href="{% url 'realtor' object.created_by.realtor.id %}">
      {{object.created_by.first_name}} {{object.created_by.last_name}}</a></td>
    <td scope="row"> <a href="{% url 'offer-detail' object.pk object.slug%}">
      {{ object.title }}</a></td>
    <td>{{ object.street}}</a></td>
    <td>{{ object.price }} {{ object.get_currency_display }}</td>
    <td>{{ object.get_building_display }}</td>
    <td> {{ object.floor}} / {{ object.total_floor}}</td>
    <td>{{ object.area }} / {{object.kitchen}}</td>
    <td>{{ object.get_repair_display}}</td>
    <td><em>{% if object.collaboration is True%}Можу співпрацювати з ріелторами
        {% else %}Продаємо самостійно{% endif%}</em>
    </td>
  </tr>
     {% endfor %}
{% else %}
    <p>Тут поки немає оголошень. Ваше може бути першим.</p>
{% endif %}
  </tbody>
</table>
{% else %}
<form>
  <div class="row">
    <div class="col-md-6"
    <label for="formGroupExampleInput">
Пошук об'єкта нерухомості або ріелтора</label>
    <input type="text" class="form-control" id="formGroupExampleInput"
placeholder="Введіть район, вулицю, назву агенства, ім'я ріелтора тощо...">
  </div>
  </div>
</form>
{% endif %}

{% endblock content %}
