{% extends "base.html" %}

{% block title %}Список оголошень Будинки в Черкасах.
продаж і довгострокова оренда{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home'%}">Головна</a></li>
  <li class="breadcrumb-item">Будинки</li>
{% endblock %}

{% block content %}
<h2>Будинки на продажу в Черкасах</h2>
<div class="container">
    {% if user.is_authenticated%}
      <div class="row">
      {% if object_list %}
        {% for object in object_list %}
          <div class="row">
            <div class="col-sm-3">
            {% include 'include/house_card.html' %}
            </div>
          </div>
        {%endfor%}            
      {% else %}
      <p>Тут поки немає оголошень. Ваше може бути першим.</p>
      {% endif %}
      </div>
    {% else %}
    <form>
      <div class="row">
        <p>Повний список о'єктів доступний зареєстрованим користувачам.</p>
        <div class="col-md-6">
        <label for="formGroupExampleInput">
    Пошук об'єкта нерухомості або ріелтора</label>
        <input type="text" class="form-control" id="formGroupExampleInput"
    placeholder="Введіть район, вулицю, назву агенства, ім'я ріелтора тощо...">
        </div>
      </div>
    </form>
    {% endif %}
  </div>
  {% endblock content %}
