{% extends "base.html" %}
{% block title %}Список оголошень Будинки в Черкасах.
продаж і довгострокова оренда{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home'%}">Головна</a></li>
  <li class="breadcrumb-item">Будинки</li>
{% endblock %}
{% block content %}
<h2>Будинки в Черкасах</h2>
<div class="container">
  <div class="row">
  {% if object_list %}
    {% for object in object_list %}
      <div class="row">
        <div class="col-sm-3">
        {% include 'include/house_card.html' %}
        </div>
      </div>
    {%endfor%}            
  {% else %}
  <p>Тут поки немає оголошень. Ваше може бути першим.</p>
  {% endif %}
  </div>
</div>
{% endblock content %}
