{% extends "base.html" %}
{% block title %}Список оголошень Квартири та кімнати - {{type}} в Черкасах{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Головна</a>
<li class="breadcrumb-item active"><a href="{% url 'house_list' %}">Будинки</a>
<li class="breadcrumb-item">{{ type}}</li>
{% endblock %}

{% block content %}
<h2>Будинки {{type}} в Черкасах</h2>

  <div class="row">
    <div class="col-7">
      <p>Введіть що-небудь в поле нижче для пошуку по таблиці:</p>
      <input id="myInput" type="text" placeholder="Пошук.."
      class="form-control mb-4 mr-sm-4">
    </div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Будинок</th>
  </tr>
  </thead>
  <tbody id="myTable">
{% if object_list %}
    {% for object in object_list %}
  <tr>
    <td scope="row"><h4><a href="{% url 'house' object.pk object.slug%}">{{ object.title }}</a></h4>
      {{ object.address}},
      <strong>{{ object.price }} {{ object.get_currency_display }}</strong>,
        {{object.get_Architecture_display}},
        {{object.get_Walls_display}}, {{object.get_RoofMatl_display}},
        {{object.GrLivArea}} кв.м, {{object.TotRmsAbvGrd}} кімнат,
        {{object.get_Repair_display}},
      <em>(
        {% if object.agree_price is True%}
        Ціна договірна, {% else %}Без торгу, {% endif %}
        {% if object.without_commission is True%}
        Без комісійних, {% else %} Додатково є коміссійні, {% endif%}
        {% if object.exchange is True%}
        Можливість обміну, {% else %} Немає можливості обміну, {% endif %}
        {% if object.collaboration is True%}
        Можу співпрацювати з ріелторами{% else %}
        Продаємо самостійно, {% endif%})</em>
        {%if object.created_by.realtor%}
        <a href="{%url 'realtor' object.created_by.realtor.pk%}">
        {%endif%}
          {{object.created_by.first_name}} {{object.created_by.last_name}}</a>
    </td>
  </tr>
     {% endfor %}
{% else %}
    <p>Тут поки немає оголошень. Ваше може бути першим.</p>
{% endif %}
  </tbody>
</table>

{% endblock content %}
