<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="//unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="//unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    </head>
    <body>
    <h2>Земельні ділянки в Черкассах і Черкаському районі: продаж, оренда</h2>
    <div class="container" id="m" style="width:1300px; height:600px;"></div>
    <script type="text/javascript">
        var map = L.map('m').setView([49.44, 32.05], 10); 
        L.tileLayer('//{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
        {% for e in object_list %}
            L.marker({{e.lat_lng}}).addTo(map)
                .bindPopup('<strong><a href="{%url "land_detail" e.slug %}">{{e.title}}</a></strong>');
        {%endfor%}
    </script>
    </body>
</html>
