<div class="card" style="width: 18rem;">
    {% if object.image1%}
    <img class="card-img-top" src="{{object.image1.url}}" alt="{{object.title}} - фото 1">
    {%endif%}
    <div class="card-body">
    <h5 class="card-title">{{object.title}}</h5>
    <p class="card-text">
     {{object.get_type_offer_display}}, {{object.get_MSSubClass_display}},
     {{object.get_Architecture_display}},
     {{object.get_Walls_display}}, {{object.get_RoofMatl_display}},
     {{object.GrLivArea}} кв.м, {{object.TotRmsAbvGrd}} кімнат,
     {{object.get_Repair_display}} </p>
      <a href="{%url 'house' object.pk object.slug%}" class="btn btn-primary">
        {{ object.price}} {{object.get_currency_display}}</a>
    </div>
  </div>
