
{% load leaflet_tags %}
 {% leaflet_css %}
 {% leaflet_js %}
 <style>

  .leaflet-container {  /* all maps */
      /* width:  1300px; */
      height: 600px;
  }

  #specialbigmap {
      height: 800px;
  }

  /* Resize the "display_raw" textbox */
  .django-leaflet-raw-textarea {
      width: 100%;
  }

</style>
  <div style="height:600px;">
    {% leaflet_map "main" callback="map_init" %}
  </div>

  <script type="text/javascript">
    function map_init(map, options) {
        map.setView({{object.lat_lng}}, 15);
        L.polygon({{object.polygon}})
        .addTo(map).
        bindTooltip('{{object.lat_lng}}')
        .openTooltip();
      }
  </script>
