{% extends 'base.html'%}
{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Головна</a>
<li class="breadcrumb-item">Контакт</li>
{% endblock %}
{% block content %}
<div class="row">
<div class="col-sm-6">
  <h2>Написати повідомлення</h2>
  <form method="post">
    {% csrf_token %}
    <p>{{ form.as_p}}</p>
    <button class="btn btn-success" type="submit">Відправити</button>
  </form>
</div>
<div class="col-sm-6">
  <dl>
    <dt>Можете просто написати мені в Telegram:</dt>
    <dd>@Kivashchenko</dd>
  </dl>
</div>
</div>
{% endblock content %}
