{% extends 'base.html'%}

{% block breadcrumb%}
<li class="breadcrumb-item">Політика щодо файлів cookie</li>
{% endblock%}

{%block content%}
<div class="container">
    <div class="col-sm-10">
        <p>
            Ми використовуємо файли cookie, щоб допомогти покращити ваш досвід
            Ця політика щодо файлів cookie є частиною політики конфіденційності і охоплює
            використання файлів cookie між вашим пристроєм та нашим сайтом.
            Ми також надаємо основну інформацію про сторонні послуги, які ми можемо
            використовувати, які також можуть використовувати файли cookie як частину
            їх сервісу, хоча вони не охоплені нашою політикою.
            </p>
            <p>
            Якщо ви не бажаєте приймати від нас файли cookie, ви повинні доручити своєму
            браузеру відмовитись від файлів cookie з нашого сайту, розуміючи, що ми можемо
            не мати змоги надати вам бажаний вміст та послуги.
            </p>
            <h2>Що таке cookie?</h2>
            <p>
            Файл cookie - це невеликий фрагмент даних, який веб-сайт зберігає на вашому
            пристрої під час відвідування, як правило, містить інформацію про сам веб-сайт,
            унікальний ідентифікатор, який дозволяє веб-сайту розпізнавати ваш веб-браузер
            при поверненні, додаткові дані, що служать цілі печиво та тривалість його життя.
            </p>
            <p>
            Файли cookie використовуються для ввімкнення певних функцій (наприклад,
            входу в систему), для відстеження використання сайтів (наприклад, аналітика),
            для зберігання налаштувань користувача (наприклад, часовий пояс,
            налаштування сповіщень) та для персоналізації вашого вмісту (наприклад, реклама,
             мова) .
            </p>
            <p>
            Файли cookie, встановлені веб-сайтом, який ви відвідуєте, зазвичай називають
            "сторонніми файлами cookie", і зазвичай відстежують лише вашу діяльність на
            цьому конкретному веб-сайті. Файли cookie, встановлені іншими веб-сайтами та
            компаніями (тобто третіми сторонами), називаються "сторонніми файлами cookie" і
            можуть використовуватися для відстеження вас на інших веб-сайтах, які
            використовують ту саму сторонній сервіс.
            </p>
            
            <h2>Типи файлів cookie та способи їх використання</h2>
            
            <h3>Основнi cookies</h3>
            <p>
            Основні файли cookie мають вирішальне значення для вашого веб-сайту, що
            забезпечує основні функції, такі як вхід користувачів, управління обліковими
            записами, кошики для покупок та обробка платежів. Ми використовуємо необхідні
            файли cookie для включення певних функцій на нашому веб-сайті.
            </p>
            <h3>Файли cookie продуктивності</h3>
            <p>
            Файли cookie ефективності використовуються для відстеження того, як ви
            використовуєте веб-сайт під час відвідування, не збираючи особисту інформацію
            про вас. Зазвичай ця інформація є анонімною та агрегується з інформацією, яка
            відстежується у всіх користувачів сайту, щоб допомогти компаніям зрозуміти схеми
             використання відвідувачів, виявити та діагностувати проблеми чи помилки, з
             якими можуть стикатися їх користувачі, та прийняти кращі стратегічні рішення
             для покращення загального досвіду роботи веб-сайтів своєї аудиторії. Ці файли
             cookie можуть бути встановлені веб-сайтом, який ви відвідуєте (сторона), або
             сторонніми службами. Ми використовуємо файли cookie ефективності на нашому
             сайті.
            </p>
            <h3>Файли cookie функціональності</h3>
            <p>
            Файли cookie функціональності використовуються для збору інформації про ваш
            пристрій та будь-які налаштування, які ви можете налаштувати на веб-сайті,
            який ви відвідуєте (наприклад, налаштування мови та часового поясу). За
            допомогою цієї інформації веб-сайти можуть надавати вам налаштований,
            розширений або оптимізований вміст та послуги. Ці файли cookie можуть бути
            встановлені веб-сайтом, який ви відвідуєте (сторона), або стороннім сервісом.
            Ми використовуємо функціональні файли cookie для вибраних функцій на нашому
            сайті.
            </p>
            <h3>Націлювання / рекламне cookie</h3>
            <p>
            Націлювання / рекламні файли cookie використовуються для визначення того, який
            рекламний контент більш релевантний та відповідний вам та вашим інтересам.
            Веб-сайти можуть використовувати їх для доставки цільової реклами або для
            обмеження кількості побачень реклами. Це допомагає компаніям підвищити
            ефективність своїх кампаній і якість представленого вам контенту. Ці файли
            cookie можуть бути встановлені веб-сайтом, який ви відвідуєте (сторона), або
            сторонніми службами. Націлені / рекламні файли cookie, встановлені сторонніми
            сторонами, можуть використовуватися для відстеження вас на інших веб-сайтах,
            які використовують ту саму сторонній сервіс. Ми використовуємо націлювання /
            рекламні файли cookie на нашому сайті.
            </p>
            <h3>Сторонні файли cookie на нашому сайті</h3>
            <p>
            Ми можемо на своїх веб-сайтах залучати сторонні компанії та приватних осіб -
            наприклад, постачальників аналітики та контент-партнерів. Ми надаємо цим третім
            сторонам доступ до обраної інформації для виконання конкретних завдань від
            нашого імені. Вони також можуть встановлювати сторонні файли cookie, щоб
            надавати послуги, які вони надають. Сторонні файли cookie можуть
            використовуватися для відстеження вас на інших веб-сайтах, які використовують
            ту саму сторонній сервіс. Оскільки ми не маємо контролю над сторонніми файлами
            cookie, вони не охоплюються політикою щодо використання
            файлів cookie cherkasyrealestate.org.ua.
            </p>
            <h3>Наші сторонні обіцянки щодо конфіденційності</h3>
            <p>
            Ми переглядаємо політику конфіденційності всіх наших сторонніх постачальників,
            перш ніж зарахувати їхні послуги, щоб переконатися, що їхня практика відповідає
            нашій. Ми ніколи не будемо свідомо включати сторонні сервіси, які компрометують
            або порушують конфіденційність наших користувачів.
            </p>
            <h2>Як ви можете керувати чи відмовлятися від файлів cookie</h2>
            <p>
            Якщо ви не бажаєте приймати файли cookie від нас, ви можете доручити вашому
            браузеру відмовитись від файлів cookie з нашого веб-сайту. Більшість браузерів
            за замовчуванням налаштовано приймати файли cookie, але ви можете оновити ці
            налаштування, щоб взагалі відмовитись від файлів cookie або повідомити вас,
            коли веб-сайт намагається встановити або оновити файл cookie.
            </p>
            <p>
            Якщо ви переглядаєте веб-сайти з декількох пристроїв, можливо, вам доведеться
            оновити налаштування на кожному окремому пристрої.
            </p>
            <p>
            Хоча деякі файли cookie можуть бути заблоковані, мало впливаючи на вашу роботу
            веб-сайту, блокування всіх файлів cookie може означати, що ви не можете отримати
             доступ до певних функцій та вмісту на веб-сайтах, які ви відвідуєте.
            </p>
            <p>
            Якщо у вас є які-небудь питання щодо цієї політики щодо cookie, будь ласка,
            зв'яжіться з, нами використовуючи <a href="{% url 'contact'%}">контактну форму.</a>
            </p>
    </div>
</div>

{% endblock content%}
