{% extends 'base.html'%}
{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Головна</a>
<li class="breadcrumb-item">Підтримати проект</li>
{% endblock %}
{% block content %}
<div class="col-sm-12">
  <h2>Допомогти проекту розвиватись</h2>
  <dl>
  	<dt><strong>Разова або періодична допомога</strong></dt>
  	<dd>Якщо цей проект вважаєте корисним, можливо це допомогло вам вирішити ваші питання з нерухомістю, заробити, зекономити гроші, час, може ви бажаєте, щоб додавались нові опції. 
		Інтернет-карта Приватбанку: 5169360007124138 . 
	  </dd>
  </dl>
</div>

{% endblock content %}