{% extends 'base.html'%}
{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Головна</a>
<li class="breadcrumb-item">Часті питання</li>
{% endblock %}
{% block content %}
<div class="col-sm-12">
  <h2>Часті питання</h2>
	<dl>
	<dt><strong>Чому я не отримую на свій email повідомлень із цього сайту?</strong></dt>
	<dd>Таке може бути. Для поштових відправлень використовується власний поштовий сервер, який простий і надійний. Листи безпечні, мають стандартне TLS-шифрування.
	Можливо, що не всі безкоштовні поштові сервіси приймають від нього emails. Нормально працює (перевірено) з gmail.com, yahoo.com - перевірте "Spam".</dd>
	<dt><strong>Скільки оголошень я можу розмістити?</strong></dt>
	<dd>Встановлені наступні ліміти:
	<ul>
	<li>для кожного зареєстрованого користувача - по 1 оголошенню в кожній з категорій: "Квартири", "Будинки", "Земельні ділянки"</li>
	<li>для кожного зареєстрованого з профілем "Ріелтор" - по 10 оголошень в кожній з категорій: "Квартири", "Будинки", "Земельні ділянки"</li>
	<li>для донаторів - окремі умови</li>
	</ul>
	</dd>
	<dt>Чому я не можу змінити заголовок, адресу оголошення при редагуванні існуючого, а тільки коли створюю нове?</dt>
	<dd>Редагування заголовку і зміна точки на мапі, як і формування автоматично адреси при редагуванні існуючого оголошення відключено. 
	І ось чому.
	На базі заголовка формується унікальна URL адреса вашого оголошення, по якій його будуть знаходити пошукові системи. Вона повторює заголовок через транслітерацію української мови. Якщо ви будете редагувати заголовок, оголошення важко буде підняти у пошуку. Тому продумайте заздалегідь, 
	як ви хочете привернути увагу через заголовок, щоб потім не було потреби редагувати. Адреса є своєрідним ідентифікатором об'єкту нерухомості, відразу уважно вибірайте на мапі точку, або створюйте фігуру для земельної ділянки. Редагування геоданих відключено. Для зміни ви можете видалити цей об'єкт і створити новий.</dd>
	<dt>Чому ціна в доларах?</dt>
	<dd>Так, ви праві, по закону України ціни мають бути в гривнях. Вони і відображаються в гривнях на сторінці об'єкта. Але історично склалося, що вторинний ринок нерухомості в Україні рахують в доларах. Тому для зручності ціна вводиться в доларах, а відображається і в доларах, і в гривні по курсу купівлі долара в Приватбанку в цей день, або попередній банківський день.</dd>
	</dl>
</div>

{% endblock content %}