{% extends 'base.html'%}
{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Головна</a>
<li class="breadcrumb-item">Часті питання</li>
{% endblock %}
{% block content %}
<div class="col-sm-12">
<h2>Часті питання</h2>
<dl>
<dt>Як зареєструватися?</dt>
<dd>Кнопка "Реєстрація" або посилання "Реєстрація" на сторінці Зайти внизу форми. Відкриється
сторінка зі стандартним публічним договором про надання безкоштовного сервісу, правила обробки
персональних даних. Якщо погоджуєтеся, тисніть кнопку <strong>"Я погоджуюсь"</strong>
і попадаєте на сторінку з формою реєстрації. <strong>Важливо</strong> -- "Ім'я користувача" -- це логін,
бажано, щоб він був англійськими літерами, далі все зрозуміло.
Після реєстрації нового користувача автоматично створюється пустий профіль ріелтора.
Профіль ріелтора можна заповнювати за бажанням, поля необов'зкові. Якщо хочете, щоб в оголошеннях
був ваш номер телефону, заповніть його у профілі "Ріелтора". <br>
Далі. Кожний користувач може створити одну сторінку "Агенція". Він буде єдиним власником
з правом редагувати цю сторінку. <br>
Кожний користувач сам вирішує до якої Агенції приєднатися (але тільки до однієї).
Щоб приєднати свій профіль ріелтора до існуючої Агенції, зайдіть в "Редагувати профіль"
на своії сторінці профілю ріелтора і у випадаючому списку виберіть потрібну Агенцію,
потім "Зберегти". Якщо такої Агенції ще немає, ви можете створити нову.
Не передбачено автоматичне приєднання профілю ріелтора до новоствореної Агенції.
Потрібно зайти у редагування профілю ріелтора і вибрати вручну, як написано вище. Все. </dd>
<dt>Заміна фото в оголошеннях</dt>
<dd>Зайти у редагування оголошення. Вибрати коло потрібних світлин відмітку "Очистити"
  (просто поставити пташку). Зберегти зміни.
Знову зайти у редагування оголошення. Вибрати біля потрібних файли для завантаження.
Зберегти зміни. Нові фото будуть розміщені
на відповідних місцях. Так само логотипи Агенцій, фото ріелторів. </dd>
<dt><strong>Чому я не отримую на свій email повідомлень із цього сайту?</strong></dt>
<dd>Таке може бути. Для поштових відправлень використовується власний поштовий сервер,
  який простий і надійний. Листи безпечні, мають стандартне TLS-шифрування.
Можливо, що не всі безкоштовні поштові сервіси приймають від нього emails.
Нормально працює (перевірено) з gmail.com, yahoo.com - просто перевірте "Spam".</dd>
<dt><strong>Скільки оголошень я можу розмістити?</strong></dt>
<dd>Кількість оголошень не обмежується</dd>
<dt>Чому я не можу змінити заголовок, адресу оголошення при редагуванні існуючого, а тільки коли створюю нове?</dt>
<dd>Редагування заголовку і зміна точки на мапі, як і формування автоматично адреси при редагуванні існуючого оголошення відключено.
І ось чому.
На базі заголовка формується унікальна URL адреса вашого оголошення, по якій його будуть знаходити пошукові системи. Вона повторює заголовок через транслітерацію української мови. Якщо ви будете редагувати заголовок, оголошення важко буде підняти у пошуку. Тому продумайте заздалегідь,
як ви хочете привернути увагу через заголовок, щоб потім не було потреби редагувати. Адреса є своєрідним ідентифікатором об'єкту нерухомості, відразу уважно вибірайте на мапі точку, або створюйте фігуру для земельної ділянки. Редагування геоданих відключено. Для зміни ви можете видалити цей об'єкт і створити новий.</dd>
<dt>Чому ціна в доларах?</dt>
<dd>Так, по закону України ціни мають бути в гривнях.
Вони і відображаються в гривнях на деталізованій сторінці кожного об'єкта.
Але історично склалося, що вторинний ринок нерухомості в Україні
рахують в доларах. Тому для зручності ціна вводиться в доларах, пошук і фільтри в доларах,
а відображається і в доларах, і в гривні по курсу купівлі долара
в Ощадбанку в цей день, або попередній банківський день.</dd>
<dt>Навіщо так багато параметрів по об'єктам нерухомості і чи обов'язково їх
заповнювати правильно?</dt>
<dd>Параметри підібрані навмисне так, тут використовується досвід закордонних
і українських сайтів. Мета -, коли в майбутньому буде наповнена база реальними
об'єктами, використовувати штучний інтелект для оцінювання об'єкту нерухомості
по ринковій ціні. Ви можете заповнювати, як вважаєте потрібним, але без
обов'язкових параметрів оголошення не публікується, такі налаштування
по замовчуванню.</dd>
<dt>Чому обмежені розміри мапи?</dt>
<dd>Тому що це сайт оголошень для Черкас і Черкаського передмістя.</dd>
<dt>Як додати свій номер телефону?</dt>
<dd>Коли ви реєструєтесь як користувач, у вас автоматично створюється профіль
ріелтора. Редагування профілю ріелтора дозволяє додати номер телефону, який буде
відображатися в оголошенні. Інші поля необов'язкові і буде вказано,
що ви не належите до агенства.</dd>
<dt>Не знайшли відповіді на своє питання?</dt>
<dd>Напишіть через <a href="{%url 'contact'%}"> форму</a>.
  Якщо питання поширене, додам відповідь сюди.</dd>
</dl>

</div>

{% endblock content %}
