{% extends 'base.html'%}
{% block title%}Головна сторінка {% endblock title%}
{% load static%}
{% block breadcrumb %}
<li class="breadcrumb-item">Головна</li>
{% endblock breadcrumb %}

{% block content %}
<!-- Search form -->
<div class="active-cyan-4 mb-4">
  <form action="{%url 'search'%}" method='GET'></form>
    <input class="form-control" type="text"  name="q" placeholder="Пошук агенства нерухомості..." aria-label="Search">
  </form> 
</div>

<div class="row">
  <!-- first column -->
  <div class="col-sm-4" style="background-color:lavender;">
<p>Якийсь топ-3 оголошень квартир</p>
  </div>
  <!--second column-->
  <div class="col-sm-4" style="background-color:lavenderblush;">
<p>Якийсь топ-3 оголошень будинки</p>
  </div>
  <!--third column-->
  <div class="col-sm-4" style="background-color:lavender;">
    <p>Якась стрічка новин, голосування, курс долара Приватбанку рекламне місце тощо...</p>
  </div>
</div>
{% endblock content %}
