{% extends 'base.html'%}
{% block title%}Головна сторінка {% endblock title%}
{% load static%}
{% block breadcrumb %}
<li class="breadcrumb-item">Головна</li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <h1>Увага, сайт в режимі тестування. Деякі розділи та опції можуть працювати некорректно!</h1><h3> Запланований термін початку робочого режиму - 01 березня 2020 року.</h3>
  <!-- first column -->
  <div class="col-sm-8" style="background-color:lightgray;">
    <h3 style="font-family: 'Lobster', cursive; font-size: 26px;">Пошук за адресою, заголовком </h3>
        <!-- Search form -->
        <form method="GET" action="{%url 'flat_search' %}">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Квартири</span>
          </div>
          <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="search_query">
        </div>
        </form>
        <br>
        <form method="GET" action="#">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Будинкии</span>
          </div>
          <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
        </form>
        <br>
        <form method="GET" action="#">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Земельні ділянки</span>
          </div>
          <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
        </form>
    </div>
  <!--second column-->
  <div class="col-sm-4" style="background-color:lavender;">
    <br>
<!-- Search form -->
    <form action="{%url 'search'%}" method='GET'>
    <p>{{form_agency.as_p}}</p>
    <input type="submit" value="Знайти" class="btn btn-primary">
    </form>
    <br /><br />
    <em><a href="{%url 'realtor_list'%}">  ...усі ріелтори тут</a></em>
  </div>
</div>
{% endblock content %}
