{% extends 'base.html'%}
{% block title%}Головна сторінка {% endblock title%}
{% load static%}
{% block breadcrumb %}
<li class="breadcrumb-item">Головна</li>
{% endblock breadcrumb %}

{% block content %}
{% if user.is_authenticated%}
<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Рубрики</th>
          <th>Об'єктів на продаж</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h2><a href="{% url 'flats' %}">Квартири, кімнати</a></h2>
            <small class="text-muted d-block">
              Довгострокова оренда квартир, кімнат
              Продаж квартир, кімнат
              Новобудови</small>
          </td>
          <td class="align-middle">0</td>
        </tr>
        <tr>
          <td>
            <h2><a href="{%url 'house_list'%}">Будинки</a></h2>
            <small class="text-muted d-block">
            Довгострокова оренда будинків
            Продаж будинків</small>
          </td>
          <td class="align-middle">0</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h2>Наші спонсори</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Ріелтор</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr>
          <th scope="row"><h4>
          <a href="{%url 'realtor' object.pk%}">
            {{object.created_by.first_name}} {{object.created_by.last_name}}</a> </h4>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<form>
  <div class="row" <body style="background-color:lightgray;">
    <div class="col-md-6">
      <br>
        <label for="search"><h4>
    Пошук об'єкта нерухомості або ріелтора</h4></label>
        <input type="text" class="form-control" id="search"
    placeholder="Введіть район, вулицю, назву агенства, ім'я ріелтора тощо...">
    <br><br><br>
    </div>
  </div>
</form>
{% endif %}
{% endblock content %}
