{% extends 'base.html' %}

{% block title %}
  {% if validlink %}
    Зміна паролю для {{ form.user.username }}
  {% else %}
    Змінити ваш пароль
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Змінити пароль для @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              <table>{{ form.as_table}}</table>
              <button type="submit" class="btn btn-outline-success btn-block">Змінити пароль</button>
            </form>
          {% else %}
            <h3 class="card-title">Змініть ваш пароль</h3>
            <div class="alert alert-danger" role="alert">
              Виглядає так, нібито ви перейшли за невірним посиланням для зміни паролю.
              Будь-ласка, спробуйте ще раз.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-outline-secondary">Запитати нове посилання для скидання паролю</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
