Привіт,

Хтось попросив скинути пароль для електронної адреси {{email}}.
Перейдіть за посиланням нижче:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Якщо ви забули своє ім'я користувача Cherkasy Real Estate Exchange: {{user.username}}

Якщо натискання на посилання вище не працює, скопіюйте та вставте URL-адресу
у новому вікні браузера.

Якщо ви отримали цей лист помилково, ймовірно, ввійшов інший користувач
Ваша електронна адреса помилково під час спроби скинути пароль. Якщо ви цього не зробили
ініціюючи запит, вам не потрібно вживати жодних подальших дій і можете безпечно
ігнорувати цей електронний лист.

Спасибі,

Команда Cherkasy Real Estate Exchange
