{% extends 'base.html'%}
{% block title %}Публічний Договір і Правила обробки персональної інформації {% endblock title%}
{% block breadcrumb%}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Головна</a>
<li class="breadcrumb-item">Публічний Договір і
  Правила обробки персональної інформації</a>
{% endblock breadcrumb%}
{% block content %}
<div class='container'>
<div class="col">
<h3 style="text-align:center;">ПУБЛІЧНИЙ ДОГОВІР<br />
ПРО НАДАННЯ В КОРИСТУВАННЯ ІНТЕРНЕТ СЕРВІСІВ «CherkasyRealEstate.Org.UA»</h3>

<p style="text-align:center;"><strong>Визначення термінів</strong></p>

<p><strong>Користувач</strong> – юридична чи фізична особа, яка використовує
Сервіси сайту <a href="{% url 'home'%}">«CherkasyRealEstate.Org.UA»</a>.</p>
<p><strong>Адміністратор</strong> – власник сайту «CherkasyRealEstate.Org.UA»</p>
<p><strong>Веб-сайт</strong> – сукупність пов’язаних веб-сторінок, доступних у
мережі Інтернет, створення, зміна, відтворення та знищення яких забезпечується
за допомогою Сервісів, які наданні у користування певному Користувачу.</p>
<p><strong>Глобальні мережі</strong> – національні та іноземні мережі передачі
даних, у тому числі мережа Інтернет;</p>
<p><strong>Договір</strong> – публічний договір про надання в користування
Сервісів, що укладається між Адміністратором та Користувачем.</p>
<p><strong>Сервіси</strong> – програмний-технічний комплекс
<a href="{% url 'home'%}">«CherkasyRealEstate.Org.UA»</a>,
реалізований у вигляді веб-інтерфейсу, що надає можливість створювати,
розміщувати, змінювати, відтворювати, управляти та знищувати оголошення про
продаж та/або оренду нерухомості, який надається у користування
Користувачу для цілей, визначених цим Договором.</p>
<p><strong>Сайт Сервісу</strong> – <a href="{% url 'home'%}">«CherkasyRealEstate.Org.UA»</a></p>

<p style="text-align:center;"><strong>1. Предмет Договору</strong></p>
<p>1.1. Цей Договір розроблений на основі та у відповідності до вимог діючого
законодавства України та є публічним і безстроковим договором, згідно якого
Адміністратор надає доступ Користувачу до використання своїх Сервісів
безкоштовно, а Користувач, в свою чергу, зобов'язується використовувати ці
Сервіси у відповідності до умов цього Договору.</p>
<p>1.2. Адміністратор пропонує Користувачам доступ до оголошень про продаж та
оренду нерухомості, у тому числі його розміщення, змінення, управління та видалення.</p>

<p style="text-align:center;"><strong>2. Порядок укладання Договору та надання Сервісів</strong></p>
<p>2.1. <strong>Сервіси надаються Користувачу безкоштовно</strong> на підставі та у відповідності до цього Договору,
одразу після здійснення електронної реєстрації Веб-сайту Користувача на Сайті Сервісу,
надання згоди Користувача дотримуватись умов цього Договору. Користувач вважається
таким, що прийняв умови Договору в повному обсязі, без будь-яких застережень і
винятків, з моменту натиснення віртуальної кнопки
«Я погоджуюсь» під час електронної
реєстрації на Сайті Сервісу. У разі незгоди Користувача з якими-небудь із положень Договору,
Користувач не має права використовувати Сервіси.</p>
<p>2.2. Для реєстрації Веб-сайту Користувач зобов'язується надати достовірну
та повну інформацію за питаннями, які пропонуються у формі реєстрації,
та підтримувати цю інформацію в актуальному стані. Якщо Користувач надає
неправильну інформацію або в Адміністратора є підстави вважати, що надана
Користувачем інформація неповна або недостовірна, Адміністратор має право на
власний розсуд заблокувати або видалити Веб-сайт Користувача та відмовити
Користувачу у використанні своїх Сервісів (або їх окремих функцій).</p>
<p>2.3. Адміністратор залишає за собою право в будь-який момент вимагати від
Користувача підтвердження даних, зазначених під час реєстрації Веб-сайту,
і запитати у зв'язку з цим документи для підтвердження, ненадання яких,
на розсуд Адміністратора, може бути прирівняне до надання недостовірної
інформації та спричинити наслідки, передбачені п. 2.2 Договору.</p>
<p>2.4. Адміністратор зобов’язується надати Користувачу доступ до Сервісів
впродовж 24 (двадцяти чотирьох) годин з моменту виконання Користувачем всіх
вимог, визначених п.2.1 Договору.</p>
<p>2.5. Доступ до Сервісів вважається наданим, з моменту надання Користувачу
можливості володіти, користуватись та розпоряджатись оголошеннями за допомогою
Сервісу, у тому числі змінювати, відтворювати, управляти та знищувати свої оголошення.</p>

<p style="text-align:center;"><strong>3. Оголошення Користувача</strong></p>
<p>3.1. Користувач самостійно несе відповідальність за відповідність змісту
оголошень вимогам чинного законодавства, включаючи відповідальність перед
третіми особами у випадках, коли розміщення Користувачем того або іншого
контенту чи зміст контенту порушує права та законні інтереси третіх осіб,
у тому числі особисті немайнові права авторів, інші інтелектуальні права
третіх осіб, та/або зазіхає на нематеріальні блага, що їм належать.</p>
<p>3.2. Користувач визнає та погоджується з тим, що Адміністратор не зобов'язаний
переглядати оголошення, що розміщується та/або поширюється Користувачем за
допомогою Сервісів, а також те, що Адміністратор має право (але не зобов’язання)
на власний розсуд відмовити Користувачу в розміщенні та/або поширенні ним
контенту або видалити будь-який контент, розміщений на Веб-сайті,
який доступний за допомогою Сервісів. Користувач усвідомлює та згоден з тим,
що він повинен самостійно оцінювати всі ризики, пов'язані з використанням
контенту Веб-сайту, включаючи оцінку надійності, повноти або корисності
цього контенту.</p>
<p>3.3. Користувач усвідомлює та погоджується з тим, що технологія роботи
Сервісів може вимагати копіювання (відтворення) контенту Користувача
Адміністратором, а також перероблення його Адміністратором для відповідності
технічним вимогам того чи іншого Сервісу.</p>

<p style="text-align:center;"><strong>4. Умови використання Сервісів</strong></p>
<p>4.1. Під час використання Сервісів Користувач не має права:</p>
<p>- завантажувати, надсилати, передавати або будь-яким іншим способом
розміщувати та/або поширювати контент, який є незаконним, шкідливим,
наклепницьким, ображає моральність, демонструє (чи є пропагандою) насильства
та жорстокості, порушує права інтелектуальної власності, пропагує ненависть
та/або дискримінацію людей за расовими, етнічними, статевими, релігійними,
соціальними ознаками, містить образи на адресу яких-небудь осіб або організацій,
містить елементи (чи є пропагандою) порнографії, дитячої еротики, є рекламою
(чи є пропагандою) послуг сексуального характеру
(в тому числі під виглядом інших послуг), роз'яснює порядок виготовлення,
застосування або іншого використання наркотичних речовин або їх аналогів,
вибухових речовин або іншої зброї;</p>
<p>- порушувати права третіх осіб та/або заподіювати їм шкоду в будь-якій формі;</p>
<p>- видавати себе за інше підприємство, установу, організацію без достатніх на
те прав, у тому числі за власника Веб-сайту, а також застосовувати будь-які
інші форми та способи незаконного представництва інших осіб у Глобальній мережі,
а також вводити користувачів або Адміністратора в оману стосовно властивостей
і характеристик яких-небудь суб'єктів або об'єктів;</p>
<p>- завантажувати, надсилати, передавати або будь-яким іншим способом
розміщувати та/або поширювати контент, за відсутності прав на такі дії згідно
із законодавством або якими-небудь договірними відносинами;</p>
<p>- завантажувати, надсилати, передавати або будь-яким іншим способом
розміщувати та/або поширювати недозволену спеціальним чином рекламну
інформацію, спам (у тому числі й пошуковий), списки чужих адрес електронної
пошти або використовувати Сервіси виключно для перенаправлення користувачів
на веб-сторінки інших доменів;</p>
<p>- завантажувати, надсилати, передавати або будь-яким іншим способом
розміщувати та/або поширювати які-небудь матеріали, що містять віруси або
інші комп'ютерні коди, файли чи програми, призначені для порушення, знищення
або обмеження функціональності будь-якого комп'ютерного або телекомунікаційного
обладнання чи програм, для здійснення несанкціонованого доступу, а також
розміщення посилань на вищезгадану інформацію;</p>
<p>- несанкціоновано збирати та зберігати персональні дані інших осіб;</p>
<p>- порушувати нормальну роботу веб-сайтів і Сервісів;</p>
<p>- розміщувати посилання на ресурси Глобальної мережі, зміст яких суперечить
чинному законодавству України;</p>
<p>- сприяти діям, спрямованим на порушення обмежень і заборон, що накладаються
умовами Договору;</p>
<p>- іншим чином порушувати норми чинного законодавства України, в тому числі
норми міжнародного права.</p>

<p style="text-align:center;"><strong>5. Права та обов’язки Адміністратора</strong></p>
<p>5.1. Адміністратор зобов’язаний:</p>
<p>- виконувати умови цього Договору;</p>
<p>- надати Користувачу доступ до Сервісів;</p>
<p>- забезпечувати безперебійне та якісне функціонування Сервісів;</p>
<p>- оперативно усувати пошкодження апаратної та помилки програмної частини Сервісів.</p>
<p>- приймати від Користувача заяви, звернення та претензії та давати на них
вмотивовані відповіді у строки, встановлені чинним законодавством України;</p>
<p>- не розголошувати конфіденційну інформацію Користувача, що стала доступною
Адміністратору під час використання Користувачем Сервісів, за винятком випадків
передбачених чинним законодавством України;</p>
<p>- публікувати на Сайті Адміністратора офіційні повідомлення щодо Сервісів,
зміни тарифів на оплату Сервісів, змін до Договору та додатків до нього.</p>
<p>5.2. Адміністратор має право:</p>
<p>- проводити зміну параметрів Сервісів, діючих тарифів на Сервіси, порядку їх
нарахування, форми та оплати;</p>
<p>- здійснювати поліпшення Сервісів та/або додавати нові Сервіси;</p>
<p>- вносити зміни та доповнення до Договору;</p>
<p>- встановлювати обмеження у використанні Сервісів для всіх Користувачів, або
для окремих категорій Користувачів, в тому числі: максимальний розмір
дискового простору, максимальна кількість звернень до сервісу за зазначений
період часу, максимальний строк зберігання контенту, спеціальні параметри
контенту, що завантажується, тощо;</p>
<p>- надсилати своїм Користувачам інформаційні повідомлення. Використовуючи Сервіси
Користувач автоматично надає Адміністратору свою згоду на отримання
інформаційних повідомлень від останнього, що стосуються Сервісів;</p>
<p>- частково або повністю обмежити та/або припинити доступ Користувача до Сервісів
з підстав, передбачених цим Договором;</p>
<p>- у разі виявлення нетипового навантаження на Сервіси Адміністратора,
спричиненого Користувачем або вірусними програмами та різкого зростання
трафіку Користувача, Адміністратор має право призупинити Сервіси, до з’ясування
обставин, що викликали нетипове навантаження на Сервіси або появу нетипового трафіку;</p>
<p>- Бездіяльність з боку Адміністратора в разі порушення Користувачем або іншими
користувачами положень Договору не позбавляє Адміністратора права здійснити
відповідні дії на захист своїх інтересів пізніше, а також не означає відмову
Адміністратора від своїх прав у разі здійснення в подальшому подібних або
схожих порушень.</p>

<p style="text-align:center;"><strong>6. Права та обов’язки Користувача</strong></p>
<p>6.1. Користувач зобов’язується:</p>
<p>- виконувати умови цього Договору;</p>
<p>- негайно повідомити Адміністратора про будь-який випадок несанкціонованого
(не дозволеного Користувачем) доступу до Сервісів. З метою безпеки Користувач
зобов'язаний самостійно здійснювати безпечне завершення роботи після
закінчення кожної сесії роботи з Сервісами. Адміністратор не відповідає за
можливу втрату або псування даних, а також інші наслідки будь-якого характеру,
які можуть статися через порушення Користувачем положень цього Договору;</p>
<p>- при виявленні помилок в роботі Сервісів, негайно сповістити про це Адміністратора;</p>
<p>- не рідше ніж 1 раз на місяць відвідувати сайт Адміністратора для ознайомлення
з публікаціями Адміністратора щодо нових послуг та тарифів, змін в діючих
Сервісах, тарифах та Договорі;</p>
<p>- суворо дотримуватися законодавства України та норм міжнародного права щодо
інформації, її передачі та захисту.</p>
<p>6.2. Користувач має право:</p>
<p>- отримувати від Адміністратора інформацію про Сервіси за email
Адміністратора та на сайті Адміністратора;</p>
<p>- тимчасово призупиняти користування Сервісами, відповідно до умов та порядку
користування Сервісами;</p>
<p>- відмовитись від Сервісів та видалити оголошення, скориставшись відповідною
функцією в персональному розділі.</p>

<p style="text-align:center;"><strong>7. Вартість Сервісів та порядок розрахунків</strong></p>
<p>7.1. Сервіси надаються безкоштовно.</p>

<p style="text-align:center;"><strong>8. Відповідальність сторін</strong></p>
<p>8.1. Сторони несуть відповідальність за невиконання або неналежне виконання
умов Договору у відповідності до чинного законодавства України та умов
цього Договору.</p>
<p>8.2. Користувач використовує Сервіси на свій власний ризик.
Сервіси надаються «як є». Адміністратор не приймає на себе ніякої
відповідальності, в тому числі за відповідність Сервісів цілям
та вимогам Користувача.</p>
<p>8.3. За будь-яких обставин відповідальність Адміністратора встановлюється
чинним законодавством України і покладається на нього за наявності
в його діях провини.</p>
<p>8.4. Адміністратор не несе відповідальності:</p>
<p>- за зміст інформаційних ресурсів мережі Інтернет;</p>
<p>- за будь-які втрати або збитки, яких прямо чи опосередковано зазнав та/або
заподіяв Користувач чи треті особи внаслідок використання, або неможливості
використання Сервісів або окремих частин/функцій Сервісів;</p>
<p>- за якість каналів зв'язку Глобальної мережі, за допомогою яких здійснюється
доступ до Сервісів;</p>
<p>- за погіршення роботи Сервісів внаслідок дії вірусних програм, програм злому
або інших дій будь-яких третіх осіб, направлених на нанесення шкоди
програмам Користувача.</p>
<p>- за непрямий або прямий збиток. Поняття «непрямий збиток» включає, але не
обмежується: втрату очікуваного доходу, прибутку, економії, ділової активності
або репутації;</p>
<p>- за позовами третіх осіб, що уклали договори з Користувачем про надання
послуг, які частково або повністю надаються Користувачем за допомогою Сервісів;</p>
<p>- за додаткові послуги та сервіси, надані партнерами Адміністратора.
У випадку виникнення у Користувача претензій до додаткових послуг та сервісів,
що надаються партнером Адміністратора, такий Користувач повинен звернутися
безпосередньо до вказаного партнера. Для цього Адміністратор повинен надати
Користувачу можливість отримати інформацію про найменування та місцезнаходження
партнера, а також про засоби зв’язку з ним. Додаткові послуги та сервіси
партнерів оплачуються Користувачем у порядку, передбаченому окремими
угодами з партнерами.</p>

<p>8.5. Користувач несе відповідальність: </p>
<p>- за всі дії (а також їх наслідки) в рамках або з використанням Сервісів,
включаючи випадки добровільної передачі Користувачем даних для доступу до
Сервісів, наданих Користувачеві, третім особам, в тому числі іншим Користувачам,
на будь-яких умовах (у тому числі за договорами або угодами).
При цьому всі дії в рамках або з використанням Сервісів вважаються здійсненими
самим Користувачем, за винятком випадків, коли Користувач,
повідомив Адміністратора про несанкціонований доступ або підозри щодо
несанкціонованого доступу до Сервісів;</p>
<p>- за свої дії, пов'язані з використанням Сервісу, в тому числі якщо такі дії
призведуть до порушення прав і законних інтересів третіх осіб, а також за
дотримання законодавства під час використання Сервісу.</p>

<p style="text-align:center;"><strong>9. Вирішення спорів</strong></p>
<p>9.1. Сторони прагнуть вирішувати всі спори, що виникають при укладанні,
виконанні, розірванні цього Договору або тлумаченні його положень,
шляхом переговорів.</p>
<p>9.2. Якщо Сторони не вирішать спір, що виник між ними шляхом переговорів,
такий спір передається на вирішення до відповідного суду, у відповідності до
встановлених чинним законодавством України правил про підвідомчості і підсудності.</p>
<p>9.3. Якщо інше прямо не передбачено чинним законодавством України, кожна із
Сторін має право звернутися до суду з позовом, пов'язаним з цим Договором,
без дотримання процедури досудового врегулювання спору.</p>
<p>9.4. До цього Договору застосовується матеріальне і процесуальне право України.</p>

<p style="text-align:center;"><strong>10. Обмеження та припинення користування Сервісами</strong></p>
<p>10.1. Строк користування Сервісами обчислюється з дня надання Користувачу
доступу до використання Сервісів та діє до моменту припинення Користувачем
такого користування, або видалення Веб-сайту Користувача.</p>
<p>10.2. В односторонньому порядку Адміністратор блокує або видаляє оголошення
Користувача у таких випадках:</p>
<p>- у разі, якщо Адміністратор виявить, що дані, які йому повідомив Користувач
при укладенні Договору, є неправдивими. У такому випадку Адміністратор повинен
попередити Користувача про видалення його оголошень щонайменше за 1 (один)
день до дати видалення;</p>
<p>- у разі порушення Користувачем своїх обов’язків, передбачених цим Договором,
а також чинного законодавства України, Адміністратор має право частково або
повністю заблокувати доступ Користувача до Сервісів, а також видалити
будь-який контент з Веб-сайту Користувача у разі порушення Користувачем умов
Договору. У разі виявлення таких порушень Адміністратор направляє Користувачу
повідомлення на адресу електронної пошти, зазначену в контактних даних.</p>
<p>10.3. В односторонньому порядку Користувач може припинити використання
Сервісів та видалити власні оголошення в будь-який момент та за власним бажанням.</p>

<p style="text-align:center;"><strong>11. Зміна умов Договору</strong></p>
<p>11.1. Умови Договору та умови використання Сервісів визначаються та змінюються Адміністратором
самостійно, без будь-якого спеціального повідомлення Користувачів та повинні
бути доведені до відома Користувачів шляхом оприлюднення їх на Сайті Адміністратора.
Договір набуває чинності з моменту його розміщення в Глобальній мережі за
зазначеною в цьому абзаці адресою, якщо інше не передбачено новою редакцією Договору.
Чинна редакція Договору завжди знаходиться на Сайті Адміністратора
за адресою відповідно:
<a href="{% url 'public_offerta'%}">https://www.cherkasyrealestate.org.ua/public_offerta/</a>.</p>
<p>11.2. У разі незгоди Користувача зі змінами, внесеними Адміністратором у
Договір, або з новими тарифами на послуги, Користувач повинен у семиденний
строк з моменту, коли він дізнався або міг дізнатися про зазначені зміни,
розірвати Договір та припинити використання Сервісів.</p>

<p style="text-align:center;"><strong>12. Інші положення</strong></p>
<p>12.1. Адміністратор може надавати різноманітні додаткові Сервіси та послуги
як самостійно, так і через його партнерів.</p>
<p>12.2. Всі документи, поштова переписка та інші документи за
цим Договором надсилаються на адресу, вказану Користувачем під час реєстрації
на Сайті Адміністратора.</p>
<p>12.3. Цей Договір регулюється та тлумачиться відповідно до чинного
законодавства України. Питання, не врегульовані цим Договором, підлягають
вирішенню відповідно до чинного законодавства України.</p>
<p>12.4. Ніщо в Договорі не може тлумачитись як встановлення між Користувачем і
Адміністратором агентських відносин, відносин щодо спільної діяльністю,
відносин особистого найму або якихось інших відносин, прямо не
передбачених Договором.</p>
<p>12.5. Якщо з тих або інших причин одне або декілька положень цього Договору
буде визнано недійсними або такими, що не мають юридичної сили, це не впливає
на дійсність або застосовність інших положень Договору.</p>
<br />
<h2>Правила обробки персональних даних</h2>
<p>Згідно з вимогами Закону України <strong>«Про захист персональних даних»</strong>
від 01.06.2010р. №2297-VI, діючи добровільно і усвідомлюючи значення моїх дій,
даю свою згоду на обробку персональних даних
сайтом <a href="{% url 'home'%}">«CherkasyRealEstate.Org.UA»</a>,
надалі «Власник», на таких умовах:</p>
<ul>
<li>Персональні дані будуть оброблятися з метою підтримки зв'язку
(комунікації) між мною і Власником, забезпечення авторизації та/або реєстрації,
доступу до та/або зберігання інформації на веб-сайті
«CherkasyRealEstate.Org.ua», та/або ознайомлення з інформацією на веб-сайті
«CherkasyRealEstate.Org.ua», включення інформації про мене до персональних
даних фізичних осіб, персональні дані яких обробляються в ході ведення
господарської діяльності «CherkasyRealEstate.Org.ua».
</li>
</ul>
<ul>
<li>Власником будуть оброблятися залишені мною на веб-сайті
<a href="{% url 'home'%}">«CherkasyRealEstate.Org.UA»</a> контактні
(персональні) дані в тому числі, але не
виключно, такі персональні дані: прізвище, ім'я, email, номер телефону.
</li>
</ul>
<ul>
<li>Персональні дані можуть бути передані особам, що здійснюють
господарську діяльність під товарним знаком «CherkasyRealEstate.Org.ua» для
цілей, визначених вище, а іншим особам тільки відповідно до вимог Закону
України «Про захист персональних даних».
</li>
</ul>
<p><strong>Мені зрозуміло, що відповідно до ст. 8 Закону України "Про захист
персональних даних" я маю право:</strong></p>
<ol>
<li>Знати про місцезнаходження бази даних, яка містить мої персональні дані,
її призначення та найменування, місцезнаходження її власника;
</li>
<li>Отримувати інформацію про умови надання доступу до персональних даних,
зокрема інформацію про третіх осіб, яким передаються мої персональні дані;
</li>
<li>На доступ до своїх персональних даних;
</li>
<li>Отримувати не пізніше ніж за 30 календарних днів з дня надходження запиту,
крім випадків, передбачених законом, відповідь про те, чи зберігаються мої
персональні дані у відповідній базі персональних даних, а також отримувати
зміст моїх персональних даних, які зберігаються;
</li>
<li>Пред'являти вмотивовану вимогу власнику персональних даних із запереченням
проти обробки своїх персональних даних;</li>
<li>Пред'являти вмотивовану вимогу щодо зміни або знищення своїх персональних
даних будь-яким власником, якщо ці дані обробляються незаконно чи є
недостовірними;</li>
<li>На захист своїх персональних даних від незаконної обробки та випадкової
втрати, знищення, пошкодження, у зв'язку з навмисним приховуванням,
ненаданням чи несвоєчасним їх наданням, а також на захист від надання
відомостей, що є недостовірними чи перешкоджають честі, гідності та ділової
репутації фізичної особи;
</li>
<li>Звертатися зі скаргами на обробку своїх персональних даних до органів
державної влади та посадовим особам, до повноважень яких належить забезпечення
захисту персональних даних, або до суду;
</li>
<li>Застосовувати засоби правового захисту в разі порушення законодавства про
захист персональних даних;
</li>
<li>Вносити застереження щодо обмеження права на обробку своїх персональних
даних під час надання згоди;
</li>
<li>Відкликати згоду на обробку персональних даних;
</li>
<li>Знати механізм автоматичної обробки персональних даних;
</li>
<li>На захист від автоматизованого рішення, яке має для нього правові наслідки.
</li>
</ol>
<p>Цим підтверджую, що я ознайомлений (-а) з фактом внесення відомостей про мене
до бази даних фізичних осіб, персональні дані яких обробляються в процесі
здійснення <a href="{% url 'home'%}">«CherkasyRealEstate.Org.UA»</a>
господарської діяльності.</p>
</div>
<div class='row'>
<a href="{%url 'signup'%}" class="btn btn-success btn-lg btn-block">
Я погоджуюсь</a>
</div>
</div>
{% endblock content%}
