{% extends 'base.html'%}
{% block title %}Правила обробки персональної інформації {% endblock title%}
{% block breadcrumb%}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Головна</a>
<li class="breadcrumb-item">Правила обробки персональної інформації</a>
{% endblock breadcrumb%}
{% block content %}
<div class='container'>
    <div class="col">
<p>Згідно з вимогами Закону України <strong>«Про захист персональних даних»</strong>
 від 01.06.2010р. №2297-VI, діючи добровільно і усвідомлюючи значення моїх дій,
 даю свою згоду на обробку персональних даних сайтом «CherkasyRealEstate.Org.ua»,
 надалі «Власник», на таких умовах:</p>
<ul>
<li>Персональні дані будуть оброблятися з метою підтримки зв'язку
 (комунікації) між мною і Власником, забезпечення авторизації та/або реєстрації,
  доступу до та/або зберігання інформації на веб-сайті
  «CherkasyRealEstate.Org.ua», та/або ознайомлення з інформацією на веб-сайті
  «CherkasyRealEstate.Org.ua», включення інформації про мене до персональних
  даних фізичних осіб, персональні дані яких обробляються в ході ведення
  господарської діяльності «CherkasyRealEstate.Org.ua».
  </li>
</ul>
<ul>
  <li>Власником будуть оброблятися залишені мною на веб-сайті
  «CherkasyRealEstate.Org.ua» контактні (персональні) дані в тому числі, але не
  виключно, такі персональні дані: прізвище, ім'я, email, номер телефону.
  </li>
</ul>
<ul>
  <li>Персональні дані можуть бути передані особам, що здійснюють
  господарську діяльність під товарним знаком «CherkasyRealEstate.Org.ua» для
  цілей, визначених вище, а іншим особам тільки відповідно до вимог Закону
  України «Про захист персональних даних».
  </li>
</ul>
<p><strong>Мені зрозуміло, що відповідно до ст. 8 Закону України "Про захист
  персональних даних" я маю право:</strong></p>
<ol>
  <li>Знати про місцезнаходження бази даних, яка містить мої персональні дані,
  її призначення та найменування, місцезнаходження її власника;
  </li>
  <li>Отримувати інформацію про умови надання доступу до персональних даних,
  зокрема інформацію про третіх осіб, яким передаються мої персональні дані;
  </li>
  <li>На доступ до своїх персональних даних;
  </li>
  <li>Отримувати не пізніше ніж за 30 календарних днів з дня надходження запиту,
 крім випадків, передбачених законом, відповідь про те, чи зберігаються мої
 персональні дані у відповідній базі персональних даних, а також отримувати
 зміст моїх персональних даних, які зберігаються;
  </li>
  <li>Пред'являти вмотивовану вимогу власнику персональних даних із запереченням
 проти обробки своїх персональних даних;</li>
  <li>Пред'являти вмотивовану вимогу щодо зміни або знищення своїх персональних
даних будь-яким власником, якщо ці дані обробляються незаконно чи є
недостовірними;</li>
  <li>На захист своїх персональних даних від незаконної обробки та випадкової
  втрати, знищення, пошкодження, у зв'язку з навмисним приховуванням,
  ненаданням чи несвоєчасним їх наданням, а також на захист від надання
  відомостей, що є недостовірними чи перешкоджають честі, гідності та ділової
  репутації фізичної особи;
  </li>
  <li>Звертатися зі скаргами на обробку своїх персональних даних до органів
  державної влади та посадовим особам, до повноважень яких належить забезпечення
 захисту персональних даних, або до суду;
  </li>
  <li>Застосовувати засоби правового захисту в разі порушення законодавства про
  захист персональних даних;
  </li>
  <li>Вносити застереження щодо обмеження права на обробку своїх персональних
  даних під час надання згоди;
  </li>
  <li>Відкликати згоду на обробку персональних даних;
  </li>
  <li>Знати механізм автоматичної обробки персональних даних;
  </li>
  <li>На захист від автоматизованого рішення, яке має для нього правові наслідки.
  </li>
</ol>
<p>Цим підтверджую, що я ознайомлений (-а) з фактом внесення відомостей про мене
 до бази даних фізичних осіб, персональні дані яких обробляються в процесі
 здійснення «CherkasyRealEstate.Org.ua» господарської діяльності.</p>
  </div>
  <div class='row'>
    <form method="GET" active="{%url 'signup'%}">
      <input type="submit" value="Погоджуюсь з правилами" class="btn btn-success">
    </form>
  </div>
  <div class='row'>
    <form method="GET" active="{%url 'home'%}">
      <input type="submit" value="Мені це не підходить" class="btn btn-outline-secondary">
    </form>
  </div>
</div>
{% endblock content%}
