{% extends 'base.html' %}

{% block title %}Реєстрація{% endblock %}

{% block breadcrumb%}
<li class="breadcrumb-item">Реєстрація</li>
{%endblock%}

{% block content %}
<div class="container">
<div class="col">
<form method='post'>
{% csrf_token %}
<h4>Логін для входу та електронна адреса (обов'язково)</h4>
<div class="form-row">
	<div class="form-group col-sm-4">
		<label>Username</label>
		<em>{{ form.username.errors }}</em>
		{{ form.username }}
		<p><small class="text-muted">{{ form.username.help_text }}</small></p>
	</div>
	<div class="form-group col-sm-4">
		<label>Email</label>
		<em>{{ form.email.errors }}</em>
		{{ form.email }}
		<small class="text-muted">{{ form.email.help_text }}</small>
	</div>
</div>
	<h4>Пароль двічі (обов'язково)</h4>
<div class="form-row">
	<div class="form-group col-sm-4">
		<label>Password</label>
		<em>{{ form.password1.errors }}</em>
		{{ form.password1 }}
		<small class="text-muted">{{ form.password1.help_text }}</small>
	</div>
		<div class="form-group col-sm-4">
			<label>Password 2</label>
			<em>{{ form.password2.errors }}</em>
			{{ form.password2 }}
			<small class="text-muted">{{ form.password2.help_text }}</small>
		</div>
	</div>
	<h4>Ім'я та Прізвище (відображаються в оголошеннях і профілі)</h4>
<div class="form-row">
	<div class="form-group col-sm-4">
		<label>Name</label>
		<em>{{ form.first_name.errors }}</em>
		{{ form.first_name }}
		<small class="text-muted">{{ form.first_name.help_text }}</small>
	</div>
	<div class="form-group col-sm-4">
	<label>Last Name</label>
	<em>{{ form.last_name.errors }}</em>
	{{ form.last_name }}
	<small class="text-muted">{{ form.last_name.help_text }}</small>
	</div>
</div>
<br>
<button type='submit' class="btn btn-primary">Створити акаунт</button>
</form>
</div>
<br />
<p>Створюючи акаунт ви погоджуєтеся з <a href="{% url 'rules' %}">правилами
</a></p>
</div>
{% endblock content %}
