{% extends 'base.html' %}

{% block title %}Редагувати профіль користувача{% endblock %}

{% block breadcrumb%}
<li class="breadcrumb-item">Редагувати профіль користувача</li>
{%endblock%}

{% block content %}
<h2>Внести зміни до профілю користувача</h2>
<div class="col-sm-6">
	<div class="row">
	<form method='get/post'>
		{% csrf_token %}
		<table class="table">{{form.as_table}}</table>
	<button type='submit' class="btn btn-primary">Додати зміни</button>
	</form>
	</div>
</div>
{% endblock content %}
