{% extends 'base.html'%}
{% load leaflet_tags %}
{% block title %}{{ object.name }}{% endblock title %}

{% block leaflet %}
{% leaflet_js %}
{% leaflet_css %}
<style>
  .leaflet-container { height: 100%; }
</style>
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Головна</a>
<li class="breadcrumb-item">{{ object.name }}</a>
{% endblock %}

{% load static%}
{% block content %}
<div class="container content">

  <div class="row" style="margin-left: 20px;">
    <div class="col-sm-4">
    {% if object.logo %}
      <img src="{{ object.logo.url }}" class="img-thumbnail"
      alt="Фото " style="width:200px;">
    {% endif %}
      <br>
      <br>
    {% if object.created_by == request.user %}
      <a href="{%url 'edit_agensy' object.pk%}" class="btn btn-primary">
      Редагувати сторінку</a>
      <br>
      <p><em>Переглядів сторінки: {{object.num_visits}}</em></p>
    {% endif %}
      <div class="card">
        <div class="card-body">
        <h2 class="card-title">Ріелтори агенства</h2>
        
        {% if realtor_list%}
        {% for object in realtor_list%}
        <ol>
          <li>
            <h2 style="font-family: 'Lobster', cursive; font-size: 26px;">
              <a href="{%url 'realtor' object.pk%}">
              {{ object.created_by.first_name }} {{object.created_by.last_name}}
              </a>
            </h2>
          </li>
        </ol>
        {%endfor%}
        {%else%}
        <p>Тут поки ще немає ріелторів</p>
        {%endif%}
        </div>
      </div>    
    </div>

    <div class="col-sm-8">
      <dl class="row">
        <dt class="col-sm-3 text-right">Агенція нерухомості</dt>
        <dd class="col-sm-9">
        <h2 style="font-family: 'Lobster', cursive; font-size: 26px;">
        {{object.name}}</h2>
        </dd>

        <dt class="col-sm-3 text-right">Телефон основний</dt>
        <dd class="col-sm-9"><a href="tel:{{object.phone1}}">
        {{object.phone1}}</a></dd>

        <dt class="col-sm-3 text-right">Телефон додатковий</dt>
        <dd class="col-sm-9"><a href="tel:{{object.phone2}}">
        {{object.phone2}}</a></dd>

        <dt class="col-sm-3 text-right">Дата реєстрації на сайті</dt>
        <dd class="col-sm-9">{{object.pub_date|date:"d M Y"}}</dd>

        <dt class="col-sm-3 text-right">Адреса офісу</dt>
        <dd class="col-sm-9">
        <em style="font-family: 'Times New Roman', serif;">
        {{object.address}}</em></dd>
        <dt class="col-sm-3 text-right">Про нас</dt>
        <dd class="col-sm-9">{{object.body|linebreaks}}</dd>
      </dl>
      <hr>
      <div class="row">
        {% include 'realtor/include/agency_map.html' %}  
      </div>
    </div>
  </div>
</div>
{% endblock %}
