{% extends 'base.html'%}
{% load leaflet_tags %}
{% block title %}Додати нове Агенція нерухомості {% endblock title %}

{% block leaflet %}
{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{%url 'home'%}">Головна</a>
<li class="breadcrumb-item">Додати нове Агенція нерухомості</a>
{% endblock %}

{% block content%}
<div class="container">
  {%if user.agency%}
  <h2>Ви вже маєте Агенція. Можна мати тільки одне!</h2>
  <p>Ви можете передати це Агенція іншому ріелтору або видалити це.</p>
  {%else%}
  <div class="col">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <p>{{ form.as_p }}</p>
      <input type="submit" class="btn btn-success" value=" Додати ">
    </form>
  </div>
  {%endif%}
</div>
{% endblock%}