{% extends "base.html" %}
{% block title %} Список ріелторів Черкас {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Головна</a>
<li class="breadcrumb-item">Список ріелторів</a>
{% endblock %}

{%block content%}
<div class="container">
	{%if object_list%}
	<ul>
		<li>
			<a href="{%url 'realtor' object.pk%}">
			<h3 style="font-family: 'Lobster', cursive; font-size: 26px;">
			{{ object.created_by.first_name }} {{object.created_by.last_name}}
			</h3>
			</a> - 
			{%if object.agency%}
			<a href="{% url 'agency' object.agency.pk object.agency.slug %}">
			<strong>{{object.agency.name}}</strong></a>
			{%else%}
			<em>Агенство не вказано</em>
			{%endif%}
		</li>
	</ul>
	{%else%}
	<p>тут поки що немає зареєстрованих ріелторів. Ви можете стати першим.</p>
	{%endif%}
</div>
{%endblock%}