{% extends 'base.html'%}
{% block breadcrumb%}
<li class="breadcrumb-item active"><a href="{% url 'home'%}">Головна</a></li>
<li class="breadcrumb-item ">Ріелтори</li>
{% endblock breadcrumb %}
{%block content%}
<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ім'я Прізвище</th>
        <th scope="col">Телефон</th>
        <th scope="col">Агенство</th>
        <th scope="col">Адреса офісу</th>
        <th scope="col">Об'єктів на продаж / перенесено в архів як проданих</th>
        <th scope="col">Рейтинг</th>
        <th scope="col">Відгуків</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <th scope="row">1</th>
        <td><a href="{%url 'realtor' object.pk%}">
          {{object.created_by.first_name}} {{object.created_by.last_name}}</a></td>
        <td>{{object.phone}}</td>
        <td>{{object.agensy}}</td>
        <td>{{object.address }}</td>
        <td>{{object.offers}} / {{object.in_archive}}</td>
        <td>{{object.rating}}</td>
        <td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endblock%}
