{% extends "base.html" %}
{% block title %} Список ріелторів Черкас {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Головна</a>
<li class="breadcrumb-item">Список ріелторів</a>
{% endblock %}

{%block content%}
<div class="container">
	{%if object_list%}
	<ol>
		{%for object in object_list%}
		<li style="font-family: 'Lobster', cursive; font-size: 20px; color:darkslategray;"><a href="{%url 'realtor' object.pk%}">
		{{ object.created_by.first_name }} {{object.created_by.last_name}}</a> | <strong>Агенція: </strong>
		{%if object.agency%} 
		<a href="{% url 'agency' object.agency.pk object.agency.slug %}">
		{{object.agency.name}}</a>
		{%else%}
		<em>Агенція не вказано</em>
		{%endif%}
		</li>
		{%endfor%}
	</ol>
	{%else%}
	<p>тут поки що немає зареєстрованих ріелторів. Ви можете стати першим.</p>
	{%endif%}
</div>
{%endblock%}