{% load leaflet_tags %} 
    {% leaflet_css %}
    {% leaflet_js %}	



<!-- The <div> where we're put the map -->
<div id="map" style="width: 100%; height: 350px;"></div>
<script type="text/javascript">
  // Initialize the map object
  var map = L.map('map').setView([49.448, 32.05], 12);
  // Load the background tiles
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

L.marker([49.448, 32.05]).addTo(map)
    .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
    .openPopup();
  // // Create an empty layer where we will load the features
  // var featureLayer = new L.GeoJSON();
  
  // // Finally, add the layer to the map.
  // map.addLayer(featureLayer);

	// 	var popupContent = "<h4> " +
  //     feature.properties.price + " " + feature.properties.currency + "</h4>" +
  //     '<h5>' + '<a href="' +
  //     feature.properties.pk + feature.properties.slug + '%}">' +
  //     feature.properties.title +'</a>' + '</h5>';
		
  //   layer.bindPopup(popupContent);    
  // }
  // var geojsonFeatures = {{ data | safe }};
  // var featureLayer = L.geoJSON(geojsonFeatures, {
  //     onEachFeature: onEachFeature,
  //     pointToLayer: function (feature, latlng) {
  //       return L.circleMarker(latlng, {
  //         radius: 8,
  //         fillColor: "#ff7800",
  //         color: "#000",
  //         weight: 1,
  //         opacity: 1,
  //         fillOpacity: 0.8
  //       });
  //     }
  //   });
    
  // } 
 </script>
