{% load leaflet_tags %} 
    {% leaflet_css %}
    {% leaflet_js %}	


    <style>
      .leaflet-container { height: 100%; }
    </style>
        <div class="col-sm-12">
          {% leaflet_map "main" callback='window.map_init' %}
        </div>

 <script type="text/javascript">

  function onEachFeature(feature, layer) {
    var props = feature.properties;
    var link = {% url 'offer-detail' pk=${props.pk} slug=${props.slug} %};
		var content = <h4>${props.price} ${props.currency}</h4> <p><a href="${link}">${props.title}</a></p>;
    layer.bindPopup(content);    
  }
  var geojsonFeatures = {{ data | safe }};
  function map_init(map, options) {
    L.geoJSON(geojsonFeatures, {

      style: function (feature) {
        return feature.properties && feature.properties.style;
      },

      onEachFeature: onEachFeature,

      pointToLayer: function (feature, latlng) {
        return L.circleMarker(latlng, {
          radius: 8,
          fillColor: "#ff7800",
          color: "#000",
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8
        });
      }
    }).addTo(map);
    
  } 
 </script>
