<div class="employee">
  <div class="employee__photo">
    <img src="https://blagovist.ua/sites/blagovist.ua/files/employees/386144630.jpg" class="employee__image" alt="Литвин Олена Миколаївна">
  </div>
  <div class="employee__info">
    <div class="employee__agency">
      Агентство нерухомості Благовіст
    </div>
    <div class="employee__branch">
      <a class="icon" style="padding-left: 25px;" href="https://blagovist.ua/uk/contacts/Shelkovichnaya">БЛАГОВІСТ ПЕЧЕРСЬКЕ</a>
    </div>
                  <div class="employee__phone">
          <a href="#" data-link="tel:+380504244993" class="js_link">
            +380 (50) 424-49-93
          </a>
        </div>
              <div class="employee__phone">
          <a href="#" data-link="tel:+380674673908" class="js_link">
            +380 (67) 467-39-08
          </a>
        </div>
              <div class="employee__phone">
          <a href="#" data-link="tel:+380504245687" class="js_link">
            +380 (50) 424-56-87
          </a>
        </div>
              <div class="employee__phone">
          <a href="#" data-link="tel:+380674470150" class="js_link">
            +380 (67) 447-01-50
          </a>
        </div>
              <div class="employee__email">
      <a href="#" data-link="mailto:Lytvyn.OM@blagovist.ua" class="js_link">
          Lytvyn.OM@blagovist.ua
      </a>
    </div>
    <div class="employee__description">
      Професіонал, який добре знає ринок. Швидко реагує на запит клієнта, якісно консультує, працює на випередження. Високий рівень відповідальності та старанності, пунктуальна, активна, комунікабельна.
    </div>
            <div class="employee__review" style="margin-top: 20px;">
      Відгук щодо співпраці з консультантом компанії «Благовіст» Ви можете відправляти на адресу:
      <a href="mailto:feedback@blagovist.ua" itemprop="email" class="link">
                  feedback@blagovist.ua
              </a>
      Бажаємо плідної співпраці!
    </div>
  </div>
</div>
