<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
  <a class="navbar-brand" style="font-family: 'Lobster', cursive; font-size: 26px;"
  href="{% url 'home' %}">ElitFlatCherkasy.org.ua</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ol class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'flats' %}">Квартири, кімнати</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Будинки</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'realtors' %}">Ріелтори</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Мапа</a>
      </li>

{% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
        role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Вітаємо вас,
{% if user.first_name%}{{user.first_name}}{%else%}{{user.username}}!{%endif%}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {%if user.realtor %}
          <a class="dropdown-item" href="{% url 'realtor' user.realtor.pk %}">
            Мій профіль ріелтора</a>
          {%else%}
          <a class="dropdown-item" href="{%url 'create_realtor'%}">
            Створити профіль ріелтора</a>
          {%endif%}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'password_change'%}">Змінити пароль</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Вийти</a>
          </div>
      </li>
    </ol>

  {% else %}
    <form class="form-inline ml-auto">
      <a href="{% url 'login' %}" class="btn btn-outline-primary">Зайти</a>
      <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Реєстрація</a>
    </form>
  {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Контакт</a>
        </li>
  </div>
</nav>
