
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" style="font-family: 'Lobster', cursive; font-size: 26px;;"
  href="{% url 'home' %}">ElitFlatCherkasy.Org.UA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
{% if user.is_authenticated %}
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ol class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'flats' %}">Квартири, кімнати</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Будинки</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Комерційна нерухомість</a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Земля
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Земля сільськогосподарського призначення</a>
          <a class="dropdown-item" href="#">Земля житлової й суспільної забудови</a>
          <a class="dropdown-item" href="#">Земля оздоровчого призначення</a>
          <a class="dropdown-item" href="#">Земля рекреаційного призначення</a>
          <a class="dropdown-item" href="#">Земля лісового фонду</a>
          <a class="dropdown-item" href="#">Земля водного фонду</a>
          <a class="dropdown-item" href="#">Земля промисловості, транспорту та іншого призначення</a>
          <a class="dropdown-item" href="#">Земля запасу, резервного фонду та загального користування</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
        role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Вітаємо вас,
{% if user.first_name%}{{user.first_name}}{%else%}{{user.username}}!{%endif%}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Мій профіль</a>
          <a class="dropdown-item" href="#">Мої оголошення</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'password_change'%}">Змінити пароль</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'signup' %}">Реєстрація ріелтора</button>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Вийти</a>
          </div>
      </li>
    </ol>
  </div>
  {% else %}
    <form class="form-inline ml-auto">
      <a href="{% url 'login' %}" class="btn btn-outline-secondary">Зайти</a>
    </form>
  {% endif %}
</nav>
